# Extract version from git tags
setuptools_scm

future;   python_version=="2.7"
pathlib2; python_version=="2.7"

click;    platform_python_implementation!="Jython"
requests; platform_python_implementation!="Jython"
