pathlib2;       python_version=="2.7"
future;         python_version=="2.7"

click;          platform_python_implementation!="Jython"
requests;       platform_python_implementation!="Jython"
build;          platform_python_implementation!="Jython"
pre-commit;     platform_python_implementation!="Jython"
pytest;         platform_python_implementation!="Jython"
flake8;         platform_python_implementation!="Jython"
twine;          platform_python_implementation!="Jython"

pytest==4.4.2;  platform_python_implementation=="Jython"
